.text {
    text-align: center;
    margin-bottom: 40px;
}

.mediaImage {
    width: 16%;
    max-width: 144px;
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
}

.subtitle {
    font-size: 1.1rem;
    color: var(--color-text-sub);
    margin-bottom: 12px;
    text-align: center;
}

.profileText {
    line-height: 1.7;
    text-align: center;
}

.list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 80px;
}

.link {
    display: flex;
    gap: 40px;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.list:nth-child(even) .link {
    flex-direction: row-reverse;
}

.image {
    width: 240px;
    height: auto;
    border-radius: var(--border-radius);
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
}
.position  {
    margin-bottom: 8px;
}

.profile {
    font-size: 0.9rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--color-border);
    padding: 40px;
    text-align: center;
    gap: 24px;
}

.message {
    font-size: 2rem;
    font-weight: bold;
}

.empty {
    margin-bottom: 40px;
}